{"@n1k0din": 11, "@alexkryu4kov": 9, "@atlas_atlant": 10, "@SerdarGalandarov": 12, "@iad142": 11, "@nat_k03": 10, "@artem_vasilchenko": 10, "@kanogwaith": 11, "@NotFunnyMan": 10, "@wechnik": 11, "@Cycymber170": 11, "@namenons": 12, "@spanickroon": 12, "@shedkov": 12}